<div class="relative w-full h-[80vh] max-w-[100vw] aspect-video md:h-full">
	<img
		src='/eslandHero.svg'
		alt="Esland - Premios a la comunidad hispanohablante de Streaming"
		class="absolute left-0 right-0 top-20 md:top-10 z-10 m-auto w-[1000px]"
	/>
	<video
		class="clip-path h-screen w-full animate-fade object-cover object-top animate-duration-[4000ms] animate-ease-in-out"
		muted
		loop
		autoplay
		src="./video.webm"></video>
	<video class="absolute -bottom-48 -z-40 blur-3xl" muted autoplay loop src="./video.webm"></video>
</div>
